:root {
  --color-brand-1: #3f9cc8;
  --color-brand-2: #17ccde;
  --color-brand-hover: #1497c7;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-1: #212529;
  --color-gray-2: #495057;
  --color-gray-3: #adb5bd;
  --color-gray-4: #e9ecef;

  --font-family-1: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --font-family-2: "Great Vibes", cursive;

  --font-title-1: 1.25rem;
  --font-title-2: 1rem;

  --font-title-1: 1.25rem;
  --font-title-2: 1rem;
  --font-text-1: 0.875rem;
  --font-text-2: 0.75rem;

  --font-weight-1: 600;
  --font-weight-2: 500;
  --font-weight-3: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family-1);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

.toast__container {
  position: fixed;
  top: 2rem;
  right: 2rem;

  border: 1px solid;
  color: var(--color-white);

  padding: 1.5rem;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  animation: fadeIn 1s linear;
}

.toast__fadeOut {
  animation: fadeOut 1s linear;
}

.hidden {
  display: none;
}

@keyframes fadeIn {
  0% {
    transform: translateX(150%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(150%);
    opacity: 0;
  }
}
